  body {

  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  line-height: 2.0;
  font-family: "coordinates", sans-serif;
  color:black;
  background-color: white;
  font-weight: normal;
}
